@import 'styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: $cyan500;
  color: white;

  > div {
    margin: auto 0;
    display: inline-block;
  }

  .brandName {
    vertical-align: super;
    display: inline-block;
    font-size: 24px;
    margin-left: 5px;
  }

  .brandMotto {
    position: absolute;
    font-size: 13px;
    bottom: -13px;
  }
}