@import "styles/variables";

.row > div {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
}

.property .name {
  color: $blue-grey400;
  padding: 5px 10px 5px 0;
}

.propListWrapper {
  display: flex;
  justify-content: center;
}

.flexWrapper {
  display: flex;
  margin: 20px 0;

  @media all and (max-width: $sm-max) {
    justify-content: center;
  }

  :global {

    .paper {
      margin-right: 20px;
      padding: 0;

      .nav {

        > li {
          margin-top: 0;

          &:first-child > a {
            border-radius: 3px 3px 0 0;
          }

          &:last-child > a {
            border-radius: 0 0 3px 3px;
          }

          > a {
            border-radius: 0;
            color: $cyan700;

            &.hover, &.focus {
              color: $cyan700;
            }
          }

          &.active > a {
            background-color: $dark-blue500;
            color: white;

          }
        }

        @media all and (max-width: 991px) {
          max-height: 200px;
          overflow-y: auto;
        }
      }
    }
  }

  .form {

    :global {

      .form-control {
        margin-right: 15px;
        max-width: 115px;
      }
    }
  }
}
