@import 'variables';

body {
  background-color: #FAFAFA;
  color: $default;
}

html, body {
  font-size: 15px;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow: auto !important;
}

:global {

  #app {
    height: 100%;
  }
}
