@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'variables';

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;
  color: $default;
}

html, body {
  font-size: 14px;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow: auto !important;
}

:global {

  @import "./slick/slick.scss";
  @import "./slick/slick-theme.scss";

  #app {
    height: 100%;
  }
}
