@import "styles/mixins";

:global {

  .icon-big {
    font-size: 24px;
    margin: 8px;
  }

  .icon-link {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
      color: white;
      text-decoration: none;
      outline: none;
    }
  }

  .icon-before-text {
    margin-right: 5px;
  }

  .clickable {
    cursor: pointer;
  }

  .relative {
    position: relative;
  }

  .paper {
    padding: 10px;
    background-color: white;
    @include card-shadow();
    @include small-border-radius();
  }

  .flexList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fadeIn {
    animation-name: fadeOut;
    animation-duration: .7s;
    visibility: hidden;
    transition: visibility 0s linear .7s;

    &.shown {
      animation-name: fadeIn;
      visibility: visible;
      transition: none;
    }
  }

  @keyframes :global(fadeIn) {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes :global(fadeOut) {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }
}
