:global {
  .icon-link {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
      color: white;
      text-decoration: none;
      outline: none;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .relative {
    position: relative;
  }

  .text-centralize {
    text-align: center;
  }

  .paper {
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px 3px #EEEEEE;
  }
}