$cyan500: #00BCD4;
$blue-grey200: #B0BEC5;
$blue-grey400: #78909C;
$dark-blue800: #37474F;
$dark-blue500: #607D8B;
$grey200: #EEEEEE;
$red500: #F44336;
$cyan700: #0097A7;
$deep-orange500: #FF5722;
$default: #2c3e50;

// widths
$lg-min: 1200px;
$md-max: 1199px;
$md-min: 992px;
$sm-max: 991px;
$sm-min: 768px;
$xs-max: 767px;
