$cyan500: #00BCD4;
$blue-grey200: #B0BEC5;
$blue-grey400: #78909C;
$dark-blue800: #37474F;
$dark-blue500: #607D8B;
$grey200: #EEEEEE;
$red500: #F44336;
$cyan700: #0097A7;

// widths
$lg: 1200px;
$md: 992px;
$sm: 768px;