@import 'styles/variables';

.footer {
  padding: 20px;
  background-color: $blue-grey400;
  color: white;
  box-shadow: 0 0 5px 3px rgba(158, 158, 158, 0.4);

  > div {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: $xs-md) {
      flex-direction: column;
      align-items: center;

      > div {
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &:before, &:after {
      content: none;
    }
  }
}

.upwork {
  margin: 8px;
  > svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
}
