@import 'styles/variables';

.footer {
  padding: 10px 20px;
  background-color: $blue-grey400;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 3px rgba(158, 158, 158, 0.4);
}

.upwork {
  margin: 8px;
  > svg {
    fill: white;
    height: 24px;
    width: 24px;
  }
}
