$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootswatch/flatly/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~bootswatch/flatly/_bootswatch.scss";

$fa-font-path: "~font-awesome/fonts/";

@import "~font-awesome/scss/font-awesome.scss";

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "~slick-carousel/slick/fonts/";

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
