@import "styles/mixins";
@import "styles/variables";

$pagingSize: 48px;

.modal {

  :global {

    .modal-dialog {

      .modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
      }
    }
  }

  .slider {

    .carouselImgWrapper > img {
      max-height: none;
      cursor: default;
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }

    :global {

      .slick-prev:before {
        font-family: FontAwesome;
        content: "\f053";
      }

        .slick-next:before {
        font-family: FontAwesome;
        content: "\f054";
      }

      .slick-dots li {
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.slider {

  &.withNav {
    margin-bottom: calc(#{$pagingSize} + 20px);
  }

  .carouselImgWrapper {

    > img {
      max-height: 250px;
      margin: 10px auto 20px;
      cursor: pointer;
      @include box-shadow();
      @include small-border-radius();

      &.noPicture {
        pointer-events: none;
      }
    }
  }

  :global {
    .slick-dots {
      top: 100%;

      li {
        width: initial;
        height: initial;
        max-height: $pagingSize;
        max-width: $pagingSize;
        @include box-shadow();

        &.slick-active img {
          border-color: $deep-orange500;
        }

        img {
          @include small-border-radius();
          border: 2px solid transparent;
        }
      }
    }
  }
}