@import "styles/variables";

.leftSidebar {
  margin-right: 10px;
  float: left;
  position: relative;
}

.leftMiniSidebar {

  :global {

    .fa-times, .fa-bars {
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
}

.drawer {
  position: absolute;
  left: 10px;
  top: 0;
}

.hide {
  visibility: hidden;
}

.close {
  color: $blue-grey200;
}