@import "styles/variables";

.leftSidebar {
  margin-right: 10px;
  float: left;
}

.drawer {
  position: absolute;
  left: 0;
  top: 80px;
}

.hide {
  visibility: hidden;
}

.close {
  color: $blue-grey200;
}