@import "styles/variables";
@import "styles/mixins";

.product {
  width: 260px;
  margin: 0 10px 20px;
  padding: 10px;
  background-color: white;
  @include box-shadow();
  @include small-border-radius();

  .name {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    > span {
      text-align: center;
      max-height: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;

    > div:first-child {
      font-size: 16px;
    }

    :global {
      .fa-heart-o:hover, .fa-trash-o {
        color: $red500;
      }

      .fa-cart-plus {
        color: $cyan700;
      }
    }
  }

  img {
    margin: 0 auto;
    display: block;
  }
}
