@import "styles/variables";
@import "styles/mixins";

.product {
  width: 260px;
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  @include box-shadow();

  .name {
    min-height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;

    > div:first-child {
      font-size: 16px;
    }

    :global {
      .fa-heart-o:hover {
        color: $red500;
      }

      .fa-cart-plus {
        color: $cyan700;
      }
    }
  }

  > img {
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: $lg) {
  .productWrapper:nth-child(4n+5) {
    clear: left;
  }
}

@media (min-width: $md) and (max-width: $lg - 1) {
  .productWrapper:nth-child(3n+4) {
    clear: left;
  }
}

@media (min-width: $sm) and (max-width: $md - 1) {
  .productWrapper:nth-child(2n+3) {
    clear: left;
  }
}
