@import 'styles/variables.scss';
@import "styles/mixins.scss";

.taxonomyListContainer {
  position: relative;

  .taxonomyList {
    position: relative;
    color: $dark-blue800;
    width: 160px;
    float: left;
    list-style: none;
    padding-left: 0;
    background-color: white;
    z-index: 4;
    @include card-shadow();

    @media all and (max-width: $md - 1) {
      width: 110px;

      .taxon {
        padding-left: 10px;
      }
    }

    &.deepList {
      position: absolute;
    }

    .taxon {
      padding: 10px 10px 10px 25px;
      cursor: default;
      transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

      &.clickable {
        cursor: pointer;
        &:hover {
          background-color: $cyan500;
        }
      }

      &:hover {
        color: white;
        background-color: $dark-blue500;
      }
    }
  }
}